:root {
  --primary_color: #e8b86d;
  --secondary_color: #ffec99;
  --text-color: #282828;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Abyssinica SIL', 'Rubik', sans-serif;
  color: var(--text-color);
  background-color: var(--primary_color);
}

#container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 360px;
}

select,
select > option {
  background-color: var(--secondary_color);
}

#logo {
  margin: auto;
  width: 300px;
}

h1 {
  margin-top: -40px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3rem;
}

#input-container {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

#year-input {
  width: 70%;
  padding: 10px 12px;
  font-size: 1.2rem;
}

#go-button {
  width: 30%;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: center;
}

#year-input,
#go-button {
  height: 40px;
  border-radius: 10px;
  border: none;
}

#output-container {
  margin-top: 20px;
  padding: 5px;
  background-color: var(--secondary_color);
  border-radius: 20px;
}

.output-name {
  font-size: 1.4rem;
}

.output-value {
  font-size: 1.2rem;
  font-style: italic;
  padding-right: 10px;
}

.output-name,
.output-value {
  align-items: center;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
}
